<app-header></app-header>

<div class="container">
    <app-new-todo [todos]="todos" 
        (newTodo)="setTodos($event)">
    </app-new-todo>

    <app-search (search)="setTexto($event)"></app-search>

    <div class="list-container">
        <app-todo-list 
            [filter]="filter"
            [text]="text"
            [todos]="todos" 
            (deleteTodo)="removeTodo($event)">
        </app-todo-list>
        
        <app-footer 
            *ngIf="todos | filterSelectedOption: 'actives':text as ativos" 
            [count]="ativos.length" 
            (clearTodos)="removeAllCompleted()" 
            (filter)="setFilter($event)">
        </app-footer>
    </div>
</div>